body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  color: $black-light;
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  cursor: pointer;
  color: white;
}
.wraper {
  max-width: 1920px;
  margin: 0 auto;
  background: url(../img/background1.png) no-repeat top / 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  color: $gray;
}
// img {
//   max-width: 120rem;
// }
