.buy {
  position: relative;
  margin-bottom: 1440px;
  &-background {
    background-image: url(../img/bgbuy.png);
    height: 900px;
    max-width: 1170px;
    border-radius: 20px;
    padding: 200px 280px;
    position: absolute;
    z-index: 2;
  }
  &-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 60px;
    line-height: 1.26666666667;
    margin-bottom: 60px;
  }
  &-money {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #d6b4b8;
    font-size: 80px;
    margin-bottom: 110px;
    span {
      color: #44f2a1;
      font-size: 100px;
      font-weight: bold;
      margin-top: -15px;
    }
  }
  &-button {
    a {
      display: inline-flex;
      align-items: center;
      padding: 0 90px;
      height: 80px;
      color: white;
      background-image: linear-gradient(to right, #ffa494, #ff9cb3);
      border-radius: 6px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
    }
  }
  &-under {
    position: absolute;
    background-color: rgb(35, 43, 54);
    height: 730px;
    max-width: 1920px;
    top: 450px;
    z-index: 1;
  }
}
