.demos {
  max-width: 1780px;
  margin-bottom: 270px;
  margin: 0 auto;
  &-title {
    margin-bottom: 100px;
  }
  &-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    line-height: 1.56;
    font-weight: bold;
    margin-bottom: 50px;
  }
  &-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $primary-font;
    font-size: 22px;
    line-height: 1.81818181818;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 75px;
  }
  &-image {
    max-height: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 20px 20px 50px 0px rgb(210, 210, 231);
    margin-bottom: 55px;
  }

  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
    margin-bottom: 95px;
  }
}
