.hero {
  position: relative;
  padding: 230px 0 350px;
  margin-bottom: 280px;
  &-heading {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 55px;
  }
  &-caption {
    margin-bottom: 65px;
    font-size: 24px;
    color: white;
  }
  &-image {
    position: absolute;
    right: 0;
    top: 7.5rem;
  }
  &-button {
    a {
      display: inline-flex;
      align-items: center;
      border-radius: 4px;
      font-size: 18px;
      height: 65px;
      padding-left: 70px;
      padding-right: 70px;
      background-image: linear-gradient(to right, #7a4de4, #5475e7);
      color: white;
    }
  }
}
