html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}
a {
  text-decoration: none;
}
input,
button,
select,
textarea {
  outline: none;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}
button {
  cursor: pointer;
}
input {
  line-height: normal;
}
* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
