$primary-font: "Roboto Condensed", sans-serif;
$secondary-font: "Raleway", sans-serif;
$black: rgb(44, 44, 44);
$black-light: rgb(105, 105, 105);
$gray: #393e46;
$light: #808996;
$gray-light: #6a727f;
$blue: #316ce9;
