.woo {
  margin-bottom: 260px;
  &-layout {
    display: flex;
  }
  &-text {
    margin-left: 170px;
  }
  &-logo {
    margin-bottom: 60px;
  }
  &-heading {
    font-size: 44px;
    line-height: 1.56;
    color: $gray;
    opacity: 0.5;
    margin-bottom: 60px;
  }
  &-desc {
    color: $gray-light;
    font-size: 22px;
    line-height: 1.8181818;
    opacity: 0.5;
    height: 70px;
    overflow: hidden;
    margin-bottom: 90px;
  }
  &-button {
    a {
      height: 55px;
      padding: 0 55px;
      display: inline-flex;
      align-items: center;
      color: white;
      background-color: #84a7f2;
      border-radius: 6px;
    }
  }
  &-image {
    max-width: 880px;
    height: 860px;
    vertical-align: bottom;
    overflow: hidden;
    box-shadow: 20px 25px 50px rgb(212, 211, 211);
    img {
      border-radius: 10px;
    }
  }
}
